<div class="topbar d-flex align-items-center justify-content-between px-4 py-2">
    <input class="search-input" type="text" placeholder="Buscar" />

    <div class="filters d-flex gap-3">
        <button class="filter-btn" [class.active]="activeFilter === 'todo'" (click)="setFilter('todo')">Todo</button>

        <button class="filter-btn" [class.active]="activeFilter === 'compras'"
            (click)="setFilter('compras')">Compras</button>

        <button class="filter-btn" [class.active]="activeFilter === 'rentas'"
            (click)="setFilter('rentas')">Rentas</button>
    </div>

    <div class="d-flex align-items-center gap-3">
        <app-notification-icon></app-notification-icon>
        <app-user-profile></app-user-profile>
    </div>
</div>