<div class="container-fluid p-0 h-100">
  <div class="row h-100">
    <div class="col-md-6 border-end h-100">
      <app-anuncio-datos
        [title]="title"
        [price]="price"
        [category]="category"
        [description]="description"
        (titleChange)="title = $event"
        (priceChange)="price = $event"
        (categoryChange)="category = $event"
        (descriptionChange)="description = $event"
        (closeClicked)="salir()"
        (addPhotosClicked)="agregarFotos()"
        [fotos]="fotos"
        (fotosChange)="actualizarFotos($event)"
      ></app-anuncio-datos>
    </div>

    <div class="col-md-6 h-100">
      <app-anuncio-preview
        [username]="username"
        [userHandle]="userHandle"
        [userAvatar]="userAvatar"
        [title]="title"
        [price]="price"
        [category]="category"
        [description]="description"
        [fotos]="fotos"
      ></app-anuncio-preview>
    </div>
  </div>
</div>
