:host {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

.container-fluid {
  min-width: 1200px;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

::ng-deep .mat-mdc-dialog-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 !important;
  max-width: 98vw !important;
  max-height: 95vh !important;
  width: 98vw !important;
  margin: 0 auto !important;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 8px;
  width: auto !important;
  max-width: 100% !important;
  min-width: unset !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto !important;
}
