<div class = "ventana-detalle">
  <div class = "detalle">
    <h2 mat-dialog-title class = "detalle-titulo">Detalles del Reporte #{{ data.reporte.idReporte }}</h2>

    <mat-dialog-content>
      <p><strong>Motivo:</strong> {{ data.motivo }}</p>
      <p><strong>Estado:</strong> {{ data.estado }}</p>
      <p><strong>Tipo:</strong> {{ data.tipo }}</p>

      <p><strong>Descripción:</strong></p>
      <p>{{ data.reporte.descripcion }}</p>

      <p><strong>Reportado:</strong> {{ data.reportado }}</p>
      <p><strong>Reportante:</strong> {{ data.reportante }}</p>

      <p><strong>Fecha de Reporte:</strong> {{ formatearFecha(data.reporte.fechaReportada) }}</p>
      <p><strong>Última Actualización:</strong> {{ formatearFecha(data.reporte.fechaActualizacion) }}</p>
    </mat-dialog-content>
  </div>
  <div class = "acciones">
    <button mat-button color = "primary" (click)="cerrar()">Cerrar</button>
  </div>
</div>
