<div class="chat-container">
  <div class="row g-0">
    <div class="col-md-4">
      <app-conversation-list
        [conversations]="conversations"
        [selectedConversation]="selectedConversation"
        (conversationSelected)="selectConversation($event)"
      >
      </app-conversation-list>
    </div>
    <div class="col-md-8">
      <app-message-area
        [selectedConversation]="selectedConversation"
        [messages]="messages"
        (messageSent)="sendMessage($event)"
      >
      </app-message-area>
    </div>
  </div>
</div>
