.message-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-header {
  background-color: white;
}

.messages-list {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #f8f9fa;
}

.message-input-container {
  background-color: white;
}
