app-sidebar {
  width: 100px;
  flex-shrink: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  border-right: 1px solid gray;
}

.main-content {
  margin-left: 100px;
}
