<div class="container-fluid my-3">
    <mat-card appearance="outlined" class="post-card">
        <div class="post-header">
            <img [src]="userAvatar" class="avatar" width="40" height="40" />
            <button (click)="crearServicio()" class="post-placeholder">¿Algo para ofrecer?</button>
        </div>

        <hr class="divider" />

        <mat-card-actions class="post-actions">
            <div class="ml-3">
                <div class="icons">
                    <mat-icon (click)="crearServicio()">image</mat-icon>
                    <mat-icon (click)="crearServicio()">sentiment_very_satisfied</mat-icon>
                    <mat-icon (click)="crearServicio()">location_on</mat-icon>
                </div>
            </div>
            <button mat-flat-button color="primary" (click)="publicar()" class="publish-btn">Publicar</button>
        </mat-card-actions>
    </mat-card>
    <br>

    <!-- Para mostrar TODOS los productos sin filtro -->
    <app-productos *ngIf="mostrarTodosLosProductos"></app-productos>
</div>