<!-- <div class="container-fluid mi-3">
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>{{nombre}}</mat-card-title>
            <mat-card-subtitle>{{tipo}}</mat-card-subtitle>
            <mat-card-content>
                <p>{{descripcion}}</p>
            </mat-card-content>
        </mat-card-header>
    </mat-card>
</div> -->
<!-- <div class="notificacion-carta">
    <h6 class="mb-1">{{ nombre }} - <span class="text-muted">{{ tipo }}</span></h6>
    <p class="descripcion">{{ descripcion }}</p>
</div> -->
<h6 class="mb-1">{{ nombre }} - <span class="text-muted">{{ tipo }}</span></h6>
<p class="descripcion">{{ descripcion }}</p>