<div class="contenedor-reporte">
  <!-- Encabezado -->
  <div class="encabezado-reporte">
    <div *ngIf="categoriaActual !== 'principal'" class="boton-regresar" (click)="regresar()">
      <mat-icon>arrow_back</mat-icon>
    </div>
    <h2 class="titulo-encabezado">Reportar</h2>
    <div class="boton-cerrar" (click)="salir()">
      <mat-icon>close</mat-icon>
    </div>
  </div>

  <!-- Divisor -->
  <mat-divider></mat-divider>

  <!-- Pregunta principal -->
  <div class="pregunta-reporte">
    <h3 *ngIf="categoriaActual === 'principal'">¿Por qué quieres reportar esta publicación?</h3>
    <h3 *ngIf="categoriaActual !== 'principal'">{{ obtenerTituloCategoria() }}</h3>
    <p *ngIf="categoriaActual === 'principal'" class="advertencia-seguridad">
      Selecciona una opción para ayudar a mantener la seguridad de la comunidad. Si no estás seguro, puedes elegir "No quiero ver esto".
    </p>
  </div>

  <button mat-button *ngFor="let opcion of opcionesActuales" class="opcion-reporte"
    [ngClass]="{ 'opcion-activa': opcion === opcionSeleccionada }" (click)="seleccionarOpcion(opcion)">
    <span class="texto-opcion">{{ opcion.texto }}</span>
    <mat-icon  *ngIf="opcion.tieneSubopciones">chevron_right</mat-icon>
  </button>


  <!-- Botón de enviar - solo se muestra cuando se está en una opción final -->
  <div *ngIf="mostrarBotonEnviar" class="contenedor-enviar">
    <button mat-raised-button color="primary" class="boton-enviar" (click)="confirmarReporte()">
      Enviar reporte
    </button>
  </div>
</div>