<div class="contenedor-reporte">
  <!-- Encabezado -->
  <div class="encabezado-reporte">
    <div class="titulo-encabezado">Crear reporte</div>
    <button class="boton-cerrar" (click)="cerrar()">×</button>
  </div>

  <!-- Cuerpo -->
  <div class="cuerpo-reporte">
    <!-- Sección tipo de reporte -->
    <div class="seccion-titulo">
      <h3>¿Qué deseas reportar?</h3>
    </div>
    <div class="seccion-tipo-reporte">
      <div class="radio-container" *ngFor="let tipo of listaTipos">
        <input type="radio" [id]="tipo.id" name="tipoReporte" [value]="tipo.id" [(ngModel)]="tipoSeleccionadoId">
        <label [for]="tipo.id">{{ tipo.nombre }}</label>
      </div>
    </div>

    <!-- Sección combobox -->
    <div class="seccion-titulo">
      <h3>Motivo del reporte</h3>
    </div>
    <option value="" disabled selected>Selecciona un motivo</option>
    <div class="combobox-container">
      <select class="selector-razon" [(ngModel)]="motivoSeleccionadoId">
        <option *ngFor="let motivo of listaMotivos" [value]="motivo.id">{{ motivo.nombre }}</option>
      </select>
    </div>

    <!-- Sección descripción -->
    <div class="seccion-titulo">
      <h3>Describe brevemente el problema</h3>
    </div>
    <div class="textarea-container">
      <textarea [(ngModel)]="descripcion" placeholder="Escribe aquí..."></textarea>
    </div>

    <!-- Botón enviar -->
    <div class="contenedor-enviar">
      <button class="boton-enviar" 
        [disabled]="!tipoSeleccionadoId || !motivoSeleccionadoId || !descripcion.trim()" 
        (click)="enviarReporte()">Enviar</button>
    </div>

    <div *ngIf="tipoSeleccionadoId === ''" class="alerta">
    ⚠️ Debes seleccionar un tipo de reporte.
    </div>
  </div>
</div>
