app-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100vh;
  z-index: 1000;
  background-color: #fff;
}

.main-content {
  margin-left: 80px;
  padding: 1rem;
  width: calc(100% - 80px);
}
