<aside class="sidebar">
  <button class="icon-btn active" (click)="setActive('home')">
    <img src="icons/iconoPrueba.png" width="32" height="32" />
  </button>
  <button
    class="icon-btn"
    [class.active]="activeBtn === 'home'"
    (click)="setActive('home')"
  >
    <mat-icon>home</mat-icon>
  </button>

  <button
    class="icon-btn"
    [class.active]="activeBtn === 'chat'"
    (click)="setActive('chat')"
  >
    <mat-icon>chat</mat-icon>
  </button>

  <button
    class="icon-btn"
    [class.active]="activeBtn === 'mapa'"
    (click)="setActive('mapa')"
  >
    <mat-icon>map</mat-icon>
  </button>

  <button
    class="icon-btn"
    [class.active]="activeBtn === 'soporte'"
    (click)="setActive('soporte')"
  >
    <mat-icon>support_agent</mat-icon>
  </button>

  <button
    class="icon-btn"
    *ngIf="mostrarReportes"
    [class.active]="activeBtn === 'reportes'"
    (click)="setActive('reportes')"
  >
    <mat-icon>description</mat-icon>
  </button>
  <button
    class="icon-btn"
    [class.active]="activeBtn === 'favoritos'"
    (click)="setActive('favoritos')"
  >
    <mat-icon>favorite</mat-icon>
  </button>
</aside>
