<aside class="sidebar">
  <button class="icon-btn active" (click)="setActive('home')">
    <img src="icons/iconoPrueba.png" width="32" height="32" />
  </button>
  <button
    class="icon-btn"
    [class.active]="activeBtn === 'home'"
    (click)="setActive('home')"
  >
    <mat-icon>home</mat-icon>
  </button>

  <button
    class="icon-btn"
    [class.active]="activeBtn === 'chat'"
    (click)="setActive('chat')"
  >
    <mat-icon>chat</mat-icon>
  </button>

  <button
    class="icon-btn"
    [class.active]="activeBtn === 'map'"
    (click)="setActive('map')"
  >
    <mat-icon>map</mat-icon>
  </button>

  <button
    class="icon-btn"
    [class.active]="activeBtn === 'soporte'"
    (click)="setActive('soporte')"
  >
    <mat-icon>support_agent</mat-icon>
  </button>

  <button
    class="icon-btn bottom-btn"
    [class.active]="activeBtn === 'settings'"
    (click)="setActive('settings')"
  >
  </button>
</aside>
